.content{
    display: block;
    padding: 5%;
}
.contact-wrapper, .login-wrapper{
    margin: 0px 32px;
}
.contact-wrapper h3{
    text-align: center;
}
.contact-wrapper div, .login-wrapper div{
    width: 50%;
    margin: auto;
    border: 2px solid #A88A8A;
    padding: 32px;
    margin-top: 0px;
}
.input-field{
    border: 2px solid #2D9CDB;
    width: 100%;
    height: 32px;
}

textarea{
    border: 2px solid #2D9CDB;
    resize: vertical;
    width: 100%;
}

#send-button, #login-button{
    display: block;
    margin: auto;
    width: 120px;
    background-color: #0007A6;
    color: #F7F6E7;
    height: 32px;
    border-radius: 10px;
    border: none;
    font-weight: bolder;
    margin-top: -16px;
}

#chat{
    width: 32px;
    margin: auto;
    margin-top: 32px;
    margin-bottom: -20px;
}
@media screen and (max-width: 760px){
    .contact-wrapper div{
        width: 100%;
    }
}