#content{
    resize: vertical;
    min-height: 64px;
    overflow-y: auto;
    padding: 6px;
    font-size: large;
    letter-spacing: 0.1em;
    width: 100%;
}

#save-button, #delete-button{
    display: block;
    background-color: #0007A6;
    color: #F7F6E7;
    border-radius: 5px;
    padding: 6px 32px;
    border: none;
    font-size: large;
}

#author, #topic, #image{
    border: 2px solid #2D9CDB;
    padding: 6px;
    width: 100%;
}
label{
    font-weight: normal;
    text-transform: capitalize;
    letter-spacing: .06em;
}
#btn-action{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#btn-action > #delete-button{
    background-color: rgb(116, 34, 34);
}
input:focus, #image:focus, #topic:focus, #author:focus, #content:focus{
    border-color: rgba(99, 3, 54, 0.295);
}
p{
    padding: 2px;
}

.editor{
    background: rgba(238, 222, 202, 0.479);
    padding: 12px;
    border: 1px solid rgb(212, 212, 212);
   
}
input{
    padding: 6px;
}