*{
    box-sizing: border-box;
}
button{
    cursor: pointer;
}
body{
    margin: 0px;
    font-family: "Ubuntu", sans-serif;
    background-color: #FEFFE4;
    min-height: 100vh;
}
.container{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    max-width: 100%;
    margin: 0;
    grid-auto-rows: minmax(64px, auto);
    min-height: 0;
    min-width: 0;
    height: 100%;
}


header{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    background-color: #5C4978;
    position: sticky;
    top: 0;
    grid-row: 1/2;
    min-height: 0;
    min-width: 0;
    padding: 6px 0;
    height: 100%;
}
.content{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: .5%;
    grid-row: 2/3;
    min-height: 0;
    min-width: 0;
    height: 100%;
    padding: 12px 0;
}
footer{
    background-color: #3B475E;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-row: 3/4;
    min-width: 0;
    min-height: 0;
    height: 100%;
}


/* styling navigation links */
.menu-icon div{
    width: 35px;
    height: 5px;
    background-color: #F7F6E7;
    margin: 6px 0;
}
.menu-icon{
    display: none;
}
#navigation{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: max-content;
    grid-gap: 3%;
    align-items: center;
    margin: 0 32px;
    text-transform: uppercase;
    min-height: 0;
    min-width: 0;
    height: 100%;
}

#banner{
    display: flex;
    grid-column: 1/3;
    align-items: center;
    width: max-content;
    text-decoration: none;
    min-height: 0;
    min-width: 0;
}
#banner span{
    padding-left: 12px;
    color: #F7F6E7;
    font-size: x-large;
}

img.profile{
    height: 70px;
    border-radius: 50%;
}

#home, #blog, #about, #contact, #login{
    background-color: #F7F6E7;
    padding: 4px 6px;
    border-radius: 20px;
    text-align: center;
    text-decoration: none;
    color: #030230;
    min-height: 0;
    min-width: 0;
    margin: 4px 0;
    width: 100%;
    font-weight: bold;
}
#home:hover, #blog:hover, #about:hover, #contact:hover, #login:hover{
   
    text-decoration: underline;
}
#login{
    color: #0b6167;
}




/* styling footer */

.footer-wrapper{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: 0 32px;
    color: #FDFBFB;
    min-width: 0;
    min-height: 0;
    height: 100%;
}

.contact-footer p{
    display: flex;
    align-items: center;
    
}
.get-in-touch{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.get-in-touch *{
    width: max-content;
    margin-right: 6px;
    margin-bottom: 6px;
}
.social-media h6{
    margin-bottom: 6px;
}
.footer-inner-wrapper h5{
    margin-bottom: 0;
    color: #e4e493;
}


/* styling content */
.content a{
    text-decoration: none;
}
.content a:hover{
    color: #153445;
    font-weight: bold;
}
.my-description{
    grid-column: 1/5;
    margin: 0 32px;
}
.achievment{
    border: 2px solid #A4A0A0;
    border-radius: 5px;
    padding: 12px 18px;
    background-color: rgba(235, 233, 233, 0.3); 
    margin: 0 32px;
    height: 100%;
}
.achievment p > .iconify{
    width: 100%;
}
.achievment:hover{
    background-color: #E7E4E4;
}
.offerings-wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr;
    min-height: 0;
    min-width: 0;
    grid-gap: 5%;
    grid-column: 1/5;
    margin: 0 32px;
    min-height: 0;
    min-width: 0;
    height: 100%;
}
.offerings-wrapper h2{
    grid-column: 1/3;
    color: #560606;
    margin-bottom: -2%;
}
.offering-img{
    background-color: rgba(235, 233, 233, 0.3);
    padding: 0px 8px;
    height: 100%;
    min-height: 0;
    
}
.offering-img img{
    display: block;
    margin: auto;
    height: 100%;
    width: 100%;
    min-height: 0;
    min-width: 0;
    margin: 0px;
}
.offering{
    display: grid;
    grid-column: 1fr;
    grid-template-rows: minmax(50px, auto);
    flex-wrap: wrap;
    border: 2px solid #A4A0A0;
    min-height: 0;
    min-width: 0;
}
.offering-text{
    background-color: #CEFBFE;
    min-height: 0;
    min-width: 0;
}
.offering-text h3{
    color: #560606;
    text-align: center;
}
.offering-text p{
    text-align: center;
    padding: 6px 2px;
}
.name{
    font-size: x-large;
}
/* syling blog posts */
.blog-posts{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-column: 1/5;
    background-color:  rgba(73, 72, 72, 0.74);
    min-height: 0;
    min-width: 0;
    padding: 32px 0;
    grid-gap: 10px;
    margin-bottom: -12px;
}

.blog-posts >*{
    margin: 0 32px;
    min-width: 0;
    min-height: 0;
    height: 100%;
}

.blog-posts h2{
    color:#CEFBFE;
    padding-bottom: 32px;
}
.description{
    min-height: 0;
    min-width: 0;
}
.description h3 a{
    display: block;
    text-align: center;
    color: #DBFFEE;
    text-decoration: none;
}
.description h3 a:hover{
    text-decoration: underline;
}

.blog-posts-wrapper{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2%;
    justify-items: center;
    min-height: 0;
    min-width: 0;
}

.article-description{
    color: #F6F4FF;
    text-align: center;
}
.time{
    text-align: center;
    color: #A9D69D;
}
.post{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: minmax(50px, auto);
    background-color: #5C4978;
    padding: 12px;
    padding-bottom: 0px;
    min-height: 0;
    min-width: 0;
}

.blog-footer form{
    display: flex;
    align-items: center;
    align-content: space-between;
}

.blog-footer input[type=email]{
    margin-right: 6px;
    border: 1px solid #A9D69D;
}
.blog-footer input[type=submit]{
    padding: 0px;
    background-color: #A9D69D;
    border: none;
    padding: 2px 4px;
    border-radius: 5px;
}
.contact-footer img{
    padding-right: 6px;
}
.post-img{
    align-items: center;
    background-color: #f1f1f1;
    height: 100%;
    min-height: 0;
    min-width: 0;

}
.post-img img{
    display: block;
    margin: auto;
    height: 100%; 
    width: 100%;
    padding: 6px;
    min-height: 0;
}

#navigation .current{
    background-color: #CEFBFE; 
    color: #030230;
}
.error, #error-topic{
    color: rgb(97, 15, 15);
    font-weight: bold;
}

/* style popup modal */

.modal{
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 60px;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.3);
}
.modal-content{
    background-color: #f1ebeb;
    margin: auto;
    padding: 20px 32px;
    border: 1px solid blue;
    width: 50%;
}
.close{
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.close:hover, .close:focus{
    color: #000000;
    text-decoration: none;
    cursor: pointer;
}
.modal-action{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.modal-action > *{
    width: 40%;
    padding: 8px 0;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    text-transform: uppercase;
    color: rgb(236, 226, 226);
}
.modal-action > *:active, .modal-action >*:focus{
    text-decoration: none;
    border: none;
}
#modal-cancel{
    background-color: #1d3986;
}
#modal-continue{
    background-color: rgb(95, 24, 24);    
}
.modal-content p:nth-child(3){
    color: rgb(13, 77, 57);
}
@keyframes example {
    from {color: red;}
    to {color: yellow;}
}
#wait-modal div{
    border-radius: 20px/50px;
}
#wait-modal p{
    display: flex;
    justify-content: space-between;
    font-size: xx-large;
    letter-spacing: .2em;
    width: max-content;
    margin: auto;
}
#wait-modal p span{
    font-size: xx-large;
    font-weight: bold;            
    animation-name: example;
    animation-duration: 1s; 
    animation-iteration-count: infinite;
}
#message-number{
    color: red;
    font-weight: bolder;
}

.error{
    margin-top: -6px;
    color: rgb(97, 15, 15);
}

#title{
    color: rgb(11, 0, 163);
    font-weight: bold;
}

/* phone */

@media screen and (max-width: 760px){
    .menu-icon{
        display: block;
        grid-row: 1/2;
        grid-column: 7/8;
        cursor: pointer;
        min-width: 0;
        min-height: 0;
    }
    #banner{
        grid-row: 1/2;
        grid-column: 1/7;
    }

    #home, #blog, #about, #contact, #login{
        grid-column: 1/8;
        display: none;
    }


    #banner > span{
        font-size: large;
    }
    img.profile{
        height: 60px;
    }

    .blog-footer{
        grid-row: 1/2;
        grid-column: 1/5;
    }
    .about-footer{
        grid-row: 3/4;
        grid-column: 1/5;
    }
    .contact-footer{
        grid-row: 2/3;
        grid-column: 1/5;
    }
    .social-media{
        grid-column: 1/5;
    }

    .achievment{
        grid-column: 1/5;
    }
    .blog-posts-wrapper > *{
        grid-column: 1/4;
    }
    .blog-posts-wrapper .post{
        grid-column: 1/4;
    }
    /* about page */
    .about-inner-wrapper{
        grid-column: 1/3;
    }

    /* style modal */
    .modal-content{
        width: 90%;
    }
    
}

